@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
body{
    background-color: black;
    background: no-repeat url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg);
    background-size: cover;
    /* font: size 7rem; */
    text-align: center;
    color: #522819;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    
}
main{
    width: 65vw;
    border: 10px solid #522819;
    padding:22px;
}
#ayat{
    font-size: 3rem;
    font-family: 'Amiri Quran', serif;
    /* font-family: 'Scheherazade New', serif; */
}
.line{
    background-color: #522819;
    height: 2px;
}

#meaning{
    font-family: 'Century', Courier, monospace;
}
#button{
    font-family: 'Century', Courier, monospace;
    background: #522819;
    font-size: 1.2rem;
    color: #bea177;
    padding: 12px;
    border-radius: 8px;
    border: 0px solid;
}

::selection{
    background-color: rgba(0, 0, 0, 0.421);
}

/* https://images.unsplash.com/photo-1585036156171-384164a8c675?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cXVyYW4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60
https://images.unsplash.com/photo-1585036156171-384164a8c675?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cXVyYW4lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60 */

/* https://images.pexels.com/photos/4463896/pexels-photo-4463896.jpeg?auto=compress&cs=tinysrgb&w=600 
https://images.unsplash.com/photo-1589462135796-2b46e4bdd7fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHF1cmFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60
https://images.unsplash.com/photo-1627337840960-d55af60bf8e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fHF1cmFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60
*/

  @media (min-width: 100px) and (max-width: 800px) {
    body{
      height: 100vh;
      background-image: url(https://images.pexels.com/photos/1530216/pexels-photo-1530216.jpeg);
      font-size:0.5rem;
      background-position: center;
      background-attachment: cover;
      color: rgb(0, 0, 0);
      /* filter: grayscale(1); */
    }
    main{
        border: 0px solid #000;
        /* background: rgba(255, 255, 255, 0.263); */

    }
    #ayat{
        font-size:2rem;
        font-family: 'Amiri Quran', serif;
    }
    #meaning{
        color: #000;
    }
    .line{
        background-color: #000;
        height: 1px;
    }
    #button{
        font-family: 'Century', Courier, monospace;
        background: #2f302a;
        font-size: 1.2rem;
        color: #edffde;
        padding: 12px;
        border-radius: 8px;
        border: 0px solid;
        margin-bottom: 20vh;
    }
  }